.content-component, .content-component a:link, .content-component a:visited {
	color: white!important;
}
.content-component a {
	text-decoration: none!important;
}
.content-component a:hover {
	color:green!important;
}