.text {
	margin: auto; display: block; text-align: left; justify-content: center; width: 40%;
}

.imagem {
	display: block; margin: auto; width: 10%; justify-content:left;
}
.bot {
	display:inline-block;
	margin-left:50%;
}

.hotbar {
	background-color: lightblue; display: block; text-align:right;
	
}
#a {
	background-color: lightblue; width: 30%; height: 40vh; margin: auto; margin-top: 8%;
}

#a form {
}

#invisible-square {
	width: 90%;
	height: 80%;
	padding-top:10%;
	margin:auto;
}
label {
	display:inline-block;
	width: 40%;
}

footer {
position: fixed;
display: flex;
bottom: 0; 
width: 100%;
height: 20px;
left: 0;
background-color: lightblue;
}

table {
	border: 1px solid;
}

table tbody td {
	border-right: 1px outset;
	
	border-left: 1px outset;
	
	border-top: 1px outset;
	
	border-bottom: 1px outset;
}